@font-face {
    font-family: "Noto Sans Light";
    src: url(fonts/NotoSans-Regular.ttf);
}

html {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

*{
    margin: 0;
    padding: 0;
}

main{
    margin: auto;
    font-family: "Noto Sans Light";
    display: grid;
    grid-template-areas: 
    "h"
    "a";
    text-align: center;
    /* font-size: 25px; */
}

header{
    grid-area: h;
}

header img{
    width: 100%;
}

article{
    grid-area: a;
    height: 100vh;
}


.bevez{
    background-image: url("../images/fo.png");
    background-size: cover;
    /* padding: 250px; */
    padding-top: 80px;
}

.bevez h1{
    font-size: 30px;
}

.bevez p{
    margin-top: 20px;
    font-size: 22px;
}

#kicsi{
    margin-left: 55px;
}

#kicsi h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

#kicsi p{
    font-size: 35px;
}

.egyart{
    background-image: url("../images/elemgyar.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.labnyom{
    background-image: url("../images/haromszog.png");
    background-size: cover;
    /* padding: 250px; */
}

.kobalt{
    background-image: url("../images/gyermek.png");
    background-size: cover;
    /* padding: 250px; */
}

.ujrahasznos{
    background-image: url("../images/tuz.png");
    background-size: cover;
    /* padding: 250px; */
}

.energia{
    background-image: url("../images/szen.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.ogyart{
    background-image: url("../images/gazgyart.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.olaj{
    background-image: url("../images/finom.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.zaras{
    background-image: url("../images/xx.jpg");
    background-size: cover;
    /* padding: 250px; */
    padding-top: 80px;
}

.zaras h1{
    font-size: 40px;
    padding: 0;
}

.zaras p{
    font-size: 30px;
}












#kicsi{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: calc(100vh - 300px);
    /* position: relative; */
}
#kicsi > *{
    
    width: 200px;
    height: 200px;
    transition: all 2s;
    position: relative;
    top: 0;
    left: 0;
}
#kicsi > * p, #kicsi > * ul{
    opacity: 0;
    transition: all 2s;
}
#kicsi > *:hover{
    /* color: white; */
    width: calc(100vw - 17px);
    height: calc(100vh - 350px);
    top: calc(-100% - 30px);
    z-index: 1;
}
#kicsi > *:hover p, #kicsi > *:hover ul{
    opacity: 1;
}
#kicsi > *:nth-child(2):hover{
    left: -200px;
}
#kicsi > *:nth-child(3):hover{
    left: -400px;
}
#kicsi > *:nth-child(4):hover{
    left: -600px;
}
#kicsi > *:nth-child(5):hover{
    left: -800px;
}
#kicsi > *:nth-child(6):hover{
    left: -1000px;
}
#kicsi > *:nth-child(7):hover{
    left: -1200px;
}
#kicsi > *:nth-child(8):hover{
    left: -1400px;
}

#id{
    z-index: 1;
}

#full > *{
    visibility: hidden;
    display: grid;
    /* animation: tuz 2s forwards; */
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.a{
    background: linear-gradient(-45deg, yellow 12px, transparent 0),
    linear-gradient(45deg, yellow 12px, transparent 0);
    background-size: 36px;
    height: 100%;
}
.b{
    background-color: yellow;
}
#a2{
    background: linear-gradient(-45deg, orange 12px, transparent 0),
    linear-gradient(45deg, orange 12px, transparent 0);
    background-size: 36px;
    height: 100%;
}
#b2{
    background-color: orange;
}
#a3{
    background: linear-gradient(-45deg, red 12px, transparent 0),
    linear-gradient(45deg, red 12px, transparent 0);
    background-size: 36px;
    height: 100%;
}
#b3{
    background-color: red;
}

#foil1{
    background: url(../images/wave.png) repeat-x;
    background-size: 360px;
    background-position-y: 100%;
    height: 100%;
}
#foil2{
    background-color: black;
}

#gas1{
    /* background: rgb(190, 110, 0);
    background-position: center top;
    border-radius: 40px;
    background-size: 360px;
    background-position-y: 120px;
    height: 100%; */
}
#gas2{
    background-color: rgb(190, 110, 0);;
}

@keyframes tuz {
    0%{
        visibility: visible;
        grid-template-rows: auto 0%;
    }
    40%{
        grid-template-rows: auto 100%;
    }
    60%{
        grid-template-rows: auto 100%;
    }
    100%{
        visibility: visible;
        grid-template-rows: auto 0%;
    }
}
@media (max-width:1450px) {
    #kozep{
        height: 100vh;
        /* scroll-behavior: smooth; */
        /* scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity; */
        /* scroll-snap-points-y: repeat(100vh); */
        /* overflow-y: scroll; */
    }
    #kicsi{
        display: block;
        margin-top: 0;
    }
    #kicsi > *{
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        scroll-snap-align: start;
    }
    #kicsi > * p{
        opacity: 1;
    }
}
.white{
    color: rgb(255, 255, 255);
}