@font-face {
    font-family: "Noto Sans Light";
    src: url(fonts/NotoSans-Regular.ttf);
}

html {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

*{
    margin: 0;
    padding: 0;
}

main{
    margin: auto;
    font-family: "Noto Sans Light";
    display: grid;
    grid-template-areas: 
    "h"
    "a";
    text-align: center;
    overflow-x: hidden;
    /* font-size: 25px; */
}

header{
    grid-area: h;
}

header img{
    width: 100%;
}

article{
    grid-area: a;
    height: 100vh;
}



.bevez h1{
    /* margin-top: 80px; */
    /* font-size: 30px; */
}

.bevez p{
    /* margin-top: 20px;
    font-size: 22px; */
}


#kicsi h1{
    /* margin-top: 20px; */
    margin-bottom: 20px;
    /* font-size: 40px; */
}

.egyart{
    background-image: url("../images/elemgyar.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.labnyom{
    background-image: url("../images/haromszog.png");
    background-size: cover;
    /* padding: 250px; */
}

.kobalt{
    background-image: url("../images/gyermek.png");
    background-size: cover;
    /* padding: 250px; */
}

.ujrahasznos{
    background-image: url("../images/tuz.png");
    background-size: cover;
    /* padding: 250px; */
}

.energia{
    background-image: url("../images/szen.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.ogyart{
    background-image: url("../images/gazgyart.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.olaj{
    background-image: url("../images/finom.jpg");
    background-size: cover;
    /* padding: 250px; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    width: 100%;
    max-width: 100vw;
    pointer-events: none;
}

h1{
    font-size: 40px;
    padding: 0;
}

.zaras p{
    /* font-size: 30px; */
}

p{
    text-align: justify;
    /* font-size: 1.25vw; */
    font-size: 18px;
}

ul{
    list-style-type: none;
}
#kozep h1{
    transition: all 2s;
}
#kozep h1:hover{
    transform: scale(1.2);
}




#kozep{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#id{
    z-index: 1;
}

#full > *{
    visibility: hidden;
    display: grid;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.a{
    background: linear-gradient(-45deg, yellow 12px, transparent 0),
    linear-gradient(45deg, yellow 12px, transparent 0);
    background-size: 36px;
    height: 100%;
}
.b{
    background-color: yellow;
}
#a2{
    background: linear-gradient(-45deg, orange 12px, transparent 0),
    linear-gradient(45deg, orange 12px, transparent 0);
    background-size: 36px;
    height: 100%;
}
#b2{
    background-color: orange;
}
#a3{
    background: linear-gradient(-45deg, red 12px, transparent 0),
    linear-gradient(45deg, red 12px, transparent 0);
    background-size: 36px;
    height: 100%;
}
#b3{
    background-color: red;
}

#foil1{
    background: url(../images/wave.png) repeat-x;
    background-size: 360px;
    background-position-y: 100%;
    height: 100%;
}
#foil2{
    background-color: black;
}

#gas1{
    /* background: rgb(190, 110, 0);
    background-position: center top;
    border-radius: 40px;
    background-size: 360px;
    background-position-y: 120px;
    height: 100%; */
}
#gas2{
    background-color: rgb(190, 110, 0);;
}

@keyframes tuz {
    0%{
        visibility: visible;
        grid-template-rows: auto 0%;
    }
    40%{
        grid-template-rows: auto 100%;
    }
    60%{
        grid-template-rows: auto 100%;
    }
    100%{
        visibility: visible;
        grid-template-rows: auto 0%;
    }
}
@media (max-width:1280px) {
    /* #kozep{
        height: 100vh;
    }
    #kicsi{
        display: block;
        margin-top: 0;
    }
    #kicsi > *{
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        scroll-snap-align: start;
    }
    #kicsi > * p{
        opacity: 1;
    } */
    .grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width:800px) {
    body{
        transform: scale(.75);
        height: 130vh;
        width: 130vw;
        transform-origin: top left;
    }
    #kozep{
        grid-template-columns: 1fr;
    }
    img{
        max-width: 130vw;
    }
    #full > *{
        width: 130vw;
        height: 130vh;
    }
}
.white{
    color: rgb(255, 255, 255);
}