@font-face {
    font-family: "Noto Sans Light";
    src: url(fonts/NotoSans-Regular.ttf);
}

.light{
    --hatter: white;
    --szin: black;
    --keret: rgb(165, 212, 255);
    --szin2: rgb(230, 243, 255);
}

.dark{
    --hatter: black;
    --szin: white;
    --keret: rgb(63, 63, 63);
    --szin2: rgb(31, 31, 31);
}

body{
    
    font-family: "Noto Sans Light";
    background-color: var(--hatter);
    color: var(--szin);
    
}

main{
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

div{
    background: linear-gradient(var(--hatter), var(--szin2));
    border: 3px solid var(--keret);
    border-radius: 20px;
    height: 200px;
    width: 400px;
    transition: height 2s 1s, scale 1s, transform 0s;
}
div *{
    margin: 10px;
    transition: opacity 1s, height 2s 5s;
}
div:hover *{
    transition: opacity 1s 2s;
}
div:hover{
    height: 200px;
    transform: rotateX(var(--egerY)) rotateY(var(--egerX)); 
    scale: 1.05;
    height: 400px;
}

div:hover p{
    opacity: 1;
}
p{
    opacity: 0;
}

a{
    text-decoration: none;
    color: var(--szin);
}
a:hover{
    color: lightblue;
}
.megjelen, .megjelen:hover{
    height: 500px;
    width: 300px;
}
.megjelen *, .megjelen:hover *{
    opacity: 1;
}

img{
    width: 100px;    
}
/* background: linear-gradient(white, rgb(230, 243, 255)); */
@media (max-width: 850px) {
    main{
        grid-template-columns: 1fr;
    }
}