/* html{
    background-color: black;
    color: white;
} */
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div{
    background: linear-gradient(white, rgb(230, 243, 255));
    border: 3px solid rgb(165, 212, 255);
    border-radius: 20px;
    height: 200px;
    width: 300px;
    transition: width 1s, height 2s;
    
    /* transform: rotate3d(var(--egerY),var(--egerX) , 0, var(--xyz)); */
}
div *{
    margin: 10px;
}
div:hover{
    height: 200px;
    transform: rotateX(var(--egerY)) rotateY(var(--egerX)) scale(1.05);
}

div:hover p:nth-child(2){
    opacity: 1;
}
p{
    opacity: 0;
    transition: all 1s 2s;
}

.megjelen, .megjelen:hover{
    height: 500px;
    width: 300px;
    /* position: absolute; */
    /* left: calc(50% - 150px); */
}
.megjelen *, .megjelen:hover *{
    opacity: 1;
}

img{
    width: 100px;    
}
/* background: linear-gradient(white, rgb(230, 243, 255)); */
/*transform: rotate3d(1, 1, 0, 360deg);*/